<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Request Header Parser</title>
</head>
<body>
    <main>
        <h1>Request Header Parser</h1>
        <h2>Basic REST API to parse a GET request header.</h2>
        <article>
            <p>
                This is a basic API to return your IP address, preferred language and software details in a JSON format.<br/>
                <a href="/api/whoami">See your details</a>
            </p>
            <p>
                Request <code>__URI__/api/whoami</code> to view your details.
            </p>
        </article>
    </main>
</body>
</html>